<label>
  {{input type="checkbox" checked=cycle}}
  Cycle
</label>

<label>
  {{input type="checkbox" checked=titleOnly}}
  Lock Title
</label>

<label>
  {{input type="checkbox" checked=hoverable}}
  Hoverable
</label>

<label>
  {{input type="checkbox" checked=moving}}
  Moving content
</label>

<div class={{if moving "moving"}}></div>

{{outlet}}

{{#overlay-marks as |mark|}}
  {{#if (not-eq mark.id "advanced")}}
    {{create-overlay at=mark
                   hoverable=hoverable
                   label=(humanize mark.id)
                   class=mark.id
                   onclick=(action "focusOn" mark.id)
                   dismiss=(action "focusOn" null)
                   focused=(eq mark.id focusedId)
                   highlighted=(eq mark.id highlightedId) }}
  {{/if}}
{{/overlay-marks}}

{{#overlay-marks id="advanced" as |mark|}}
  {{#create-overlay at=mark
                  hoverable=hoverable
                  label=(humanize mark.id)
                  class="advanced"
                  onclick=(action "focusOn" mark.id)
                  dismiss=(action "focusOn" null)
                  focused=(eq mark.id focusedId)
                  lockWhileFocused=true
                  highlighted=(eq mark.id highlightedId) }}

    You can put your own content inside the overlay, and it will still fit. Hit the plug to grow this content:
    <button {{action "addThing"}}>+</button>
    {{#each things as |thing|}}
      <div>more content</div>
    {{/each}}
    <p>This overlay is also using lockWhileFocused so it won't move while you're interacting with it.</p>
  {{/create-overlay}}
{{/overlay-marks}}